---
import '../styles/sectionsGrid.css';
---

<section class="w-full h-[500px] border-2 border-black">
  <div class="parent">
    <div class="div1 bg-black">imagen </div>
    <div class="div2"> texto</div>
    <div class="div3"> texto</div>
  </div> 
</section>