---


---

<div class="section onigiri-section">
            <h2 class="section-title onigiri-title">Onigiris Fritos</h2>
            <p class="section-subtitle onigiri-subtitle">¡Crujientes por fuera, suaves por dentro!</p>
            
            <div class="menu-item onigiri-item">
                <div class="item-image">🍙</div>
                <div class="item-details">
                    <h3 class="item-name">MOZUKARA</h3>
                    <p class="item-type">(TAMPICO)</p>
                    <p class="item-description">ONIGIRI FRITO RELLENO DE TAMPICO</p>
                    <div class="item-price">$80</div>
                </div>
            </div>
            
            <div class="menu-item onigiri-item">
                <div class="item-image">🧀</div>
                <div class="item-details">
                    <h3 class="item-name">COMIU</h3>
                    <p class="item-type">(QUESO)</p>
                    <p class="item-description">ONIGIRI CON RELLENO MIXTO DE QUESO</p>
                    <div class="item-price">$80</div>
                </div>
            </div>
            
            <div class="menu-item onigiri-item">
                <div class="item-image">🥕</div>
                <div class="item-details">
                    <h3 class="item-name">GYOYIN</h3>
                    <p class="item-type">(VEGETARIANO)</p>
                    <p class="item-description">OPCIÓN FRESCA CON PEPINO, ZANAHORIA Y QUESO</p>
                    <div class="item-price">$80</div>
                </div>
            </div>
        </div>