@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'asianFont';
  src: url(../styles/fonts/go3v2.ttf) format('truetype');
}

@font-face {
  font-family: 'japanFont';
  src: url(../styles/fonts/JapanWave.ttf) format('truetype');
}

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.4;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

:root {
  --orange: #ff6600;
  --orange-all: #e8a91d;
  --blue-all: #186c8b;
}

.orange {
  color: var(--orange);
}

.menu-container {
  overflow-x: hidden;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.116);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/postersAllBlue.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: repeat;
}

.header {
  background: linear-gradient(135deg, #d8d4b2 0%, #e7de60 100%);
  position: relative;
  overflow: hidden;
  height: 150px;
  width: 100%;
}

.sunburst {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-58%, -50%);
  width: 1200px;
  height: 600px;
  background: repeating-conic-gradient(
    from 0deg,
    #ff6600 0deg 10deg,
    #ffffff 10deg 20deg
    );
  opacity: .8;
  border-radius: 50%;
}

.sunburst::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-58%, -50%);
  width: 100px;
  height: 100px;
  background: #ff6600;
  border-radius: 50%;
}

.logo {
  position: absolute;
  z-index: 20;
  width: 8rem;
  height: 8rem;
  top: 50%;
  left: 50%;
  transform: translate(-130%, -50%);
  /* border-radius: 50%; */
  /* border: 2px solid #2c2c2c; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-section {
  position: relative;
  z-index: 10;
}

/* .backgroundContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    z-index: 0;
    overflow: hidden;
}

.backgroundImage {
    position: sticky; 
    top: 0;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    object-fit: cover;
    object-position: center;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;

} */

.titleContent {
  background: linear-gradient(90deg,#fa8100 0%, rgba(227, 157, 66, 1) 51%, rgba(250, 129, 0, 1) 100%);  
}

.makiContent {
  background-color: var(--blue-all);
} 

.menuBlock {
  background-color: #00000060;
}

.section {
  padding: 30px 20px;
}




.instagram {
  text-align: center;
  padding: 20px;
  background: #f0f0f0;
  font-weight: bold;
  color: #666;
}

@media (max-width: 768px) {
  .menu-container {
    margin: 0;
    box-shadow: none;
  }

  .makis-title {
    font-size: 36px;
  }

  .brand-name {
    font-size: 28px;
  }

  .menu-item {
    flex-direction: column;
    text-align: center;
  }

  .item-image {
    align-self: center;
  }

  .extras-section {
    grid-template-columns: 1fr;
  }
}
