h1 {
  font-size: clamp(1rem, 4vw, 1.5rem)!important;
}

h2 {
  font-size: clamp(.7rem, 2vw, 1rem)!important;
}

.title {
  color: #ebebeb;
  font-family: 'asianFont', sans-serif;
  font-size: clamp(1rem, 6vw, 1.5rem)!important;
  -webkit-text-stroke: .6px #186c8b;
  text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.7);
}

.subtitle {
  color: #ffffff;
  -webkit-text-stroke: .4px #d8d8d8;
  text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.7);
}

.subCategory {
  font-family: "asianFont", sans-serif;
  color: #fafafa;
  letter-spacing: 1.2px;
  -webkit-text-stroke: .9px #d8d8d8;
  text-shadow: -1px 1px 2px rgba(116, 108, 105, 0.7);
  font-size: clamp(1rem, 6vw, 1.5rem)!important;
}

.titleMenu {
  font-family: "asianFont", sans-serif;
  color: #fafafa;
  letter-spacing: 1.2px;
  -webkit-text-stroke: .9px #d8d8d8;
  text-shadow: -1px 1px 2px rgba(116, 108, 105, 0.7);
  font-size: clamp(1rem, 6vw, 1.5rem)!important;
}

.textProtein {
  color: #c3c3c3;
  font-family: 'japanFont', sans-serif;
  letter-spacing: 1.1px;
  text-shadow: -1px 1px 2px rgba(116, 108, 105, 0.7);
  font-size: clamp(.8rem, 5vw, 1.5rem)!important;
}

.textDes {
  color: #ffffff;
  font-family: 'japanFont', sans-serif;
  letter-spacing: 1.1px;
  text-shadow: -1px 1px 2px rgba(116, 108, 105, 0.7);
  font-size: clamp(.8rem, 5vw, 1.5rem)!important;
}

.sauce {
  font-family: 'japanFont', sans-serif;
  letter-spacing: 1px;
  color: #838383;
  -webkit-text-stroke: .2px #d8d8d8;
  text-shadow: -1px 1px 2px rgba(116, 108, 105, 0.7);
  font-size: clamp(.7rem, 3.2vw, 1.2rem)!important;
}

.priceMenu {
  font-family: 'asianFont', sans-serif;
  letter-spacing: 1px;
  color: #ffffff;
  -webkit-text-stroke: .7px #d8d8d8;
  text-shadow: -1px 1px 2px rgba(116, 108, 105, 0.7);
  font-size: clamp(1rem, 5vw, 1.5rem)!important;
}

.priceMenu::before {
  content: '';
  display: block;
  width: 80%;
  border-bottom: 2px dotted #d8d8d8;
}


/* HTML: <div class="ribbon">Your text content</div> */
.ribbon {
  font-size: clamp(.8em, 2vw, 1rem)!important;
  font-weight: bold;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.ribbonCold {
  font-size: clamp(.8em, 2vw, 1rem)!important;
  font-weight: bold;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.ribbon {

  --f: .5em; /* control the folded part */
  --container-scale: 1; /* Puedes ajustarlo con JS si necesitas */

 --offset-percent: .4;
  position: absolute;
  bottom: clamp(-30px, 1%, -105px);
  right: clamp(-40px, 1%, -105px);

  line-height: 1.8;
  padding-inline: clamp(0.5em, 2vw, 1.5em);
  padding-bottom: var(--f);
  border-image: conic-gradient(#0008 0 0) 51%/var(--f);
  clip-path: polygon(
    100% calc(100% - var(--f)),100% 100%,calc(100% - var(--f)) calc(100% - var(--f)),var(--f) calc(100% - var(--f)), 0 100%,0 calc(100% - var(--f)),999px calc(100% - var(--f) - 999px),calc(100% - 999px) calc(100% - var(--f) - 999px));
  transform: translate(calc((cos(90deg) - 1)*100%), -100%) rotate(135deg); /* cambios aquí */
  transform-origin: 100% 100%; /* cambio de 0% a 100% */
  background-color: #f1a10b; /* the main color  */

  width: clamp(50px, 62%, 130px);
  font-size: clamp(0.6rem, 1.5vw, 1rem); /* Texto escalable con límites */
  white-space: nowrap; /* Evita que el texto se divida en líneas */
  overflow: hidden; /* Oculta texto que no cabe */
  text-overflow: ellipsis; /* Añade "..." si el texto es muy largo */

  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    animation: pulse 2s infinite;

  /* @keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }    */
}

  
  .ribbonCold {

  color: #fff;

  --f: .5em; /* control the folded part */
  position: absolute;
  bottom: clamp(-30px, 1%, -105px);
  right: clamp(-40px, 1%, -105px);
  line-height: 1.8;
  padding-inline: 3em;
  padding-bottom: var(--f);
  border-image: conic-gradient(#0008 0 0) 51%/var(--f);
  clip-path: polygon(
    100% calc(100% - var(--f)),100% 100%,calc(100% - var(--f)) calc(100% - var(--f)),var(--f) calc(100% - var(--f)), 0 100%,0 calc(100% - var(--f)),999px calc(100% - var(--f) - 999px),calc(100% - 999px) calc(100% - var(--f) - 999px));
  transform: translate(calc((cos(90deg) - 1)*100%), -100%) rotate(-225deg); /* cambios aquí */
  transform-origin: 100% 100%; /* cambio de 0% a 100% */
  background-color: #20a2b9; /* the main color  */

  width: clamp(50px, 62%, 130px);
  white-space: nowrap; /* Evita que el texto se divida en líneas */
  overflow: hidden; /* Oculta texto que no cabe */
  text-overflow: ellipsis; /* Añade "..." si el texto es muy largo */
}

.ribbonText {
  display: block;
  transform: rotate(180deg);
  color: #ffffff;
  -webkit-text-stroke: .4px #a8a7a7;
  text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.7);
}

/* HTML: <div class="ribbon">Your text content</div> */
