---
import '../styles/style.css';
import '../styles/sectionsGrid.css';
import '../styles/text.css';
import GridFood from '../components/gridFood.astro';
import MakisFood from '../components/makisSection.astro'; 
import { Image } from 'astro:assets';
import chopperImage from '../images/chopperLogoEdit.png'
import footImage from '../images/luffy_foot.jpg'


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sushi Culishi - Authentic Japanese Cuisine</title>
		
	</head>
	<body>
    <div class="menu-container">
        <!-- Header -->
        <div class="header">
          <Image 
            class="logo"
            src={chopperImage}
            alt="Chopper logo Sushi Culishi"
          />          
          <div class="sunburst"></div>
            
        </div>

        <GridFood />

        <div class="w-[130%] ">
          <Image 
            class="w-[60%] h-[100px] relative right-[60%] z-20 overflow-x-auto"
            src={footImage}
            alt="Chopper logo Sushi Culishi"
          />   
        </div>
        
        <!-- Makis Rolls Section -->  
         
        <MakisFood />
        
        <!-- Onigiris Section -->
        
        
        <!-- Extras Section -->
        
        <!-- Instagram Section -->
        
    </div>
  </body>
</html>