---
import '../styles/style.css';
import '../styles/sectionsGrid.css';
import '../styles/text.css';
import Entries from '../components/entries.astro';
import GridFood from '../components/gridFood.astro';
import MakisFood from '../components/makisSection.astro'; 
import YakimeshiFood from '../components/yakimeshiSection.astro';
import { Image } from 'astro:assets';
import chopperImage from '../images/chopperLogoEdit.png'
import Footer from '../components/footer.astro';
import Onigiri from '../components/onigiriSection.astro';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sushi Culishi - Authentic Japanese Cuisine</title>
		
	</head>
	<body>
    <div class="menu-container">
        <!-- Header -->
        <header class="header">
          <Image 
            class="logo"
            src={chopperImage}
            alt="Chopper logo Sushi Culishi"
          />          
          <div class="sunburst"></div>
        </header>

<<<<<<< HEAD
        <main>
          
          <Entries />
          
          <Onigiri />
          
          <GridFood />
=======
        <Entries />
        
        <Onigiri />

        <YakimeshiFood />
        
        <GridFood />
>>>>>>> ab9055aed19399d4b3d75bdc1e27ab5355d4f081

          <div class="w-[130%] ">
            <Image 
              class="w-[60%] h-[100px] relative right-[60%] z-20 overflow-x-auto"
              src={chopperImage}
              alt="Chopper logo Sushi Culishi"
            />   
          </div>
          
          <MakisFood />

        </main>

        <!-- <Footer/> -->
        
    </div>
  </body>
</html>