---
import '../styles/style.css';
import '../styles/sectionsGrid.css';
import '../styles/text.css';
import Entries from '../components/entries.astro';
import GridFood from '../components/gridFood.astro';
import MakisFood from '../components/makisSection.astro'; 
import YakimeshiFood from '../components/yakimeshiSection.astro';
import Footer from '../components/footer.astro';
import Onigiri from '../components/onigiriSection.astro';

import { Image } from 'astro:assets';
import chopperImage from '../images/chopperLogoEdit.png';
import postersImage from '../images/postersAllBlue.jpg';


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sushi Culishi - Authentic Japanese Cuisine</title>
		
	</head>
	<body class="relative">
    <div class="menu-container relative">
        <!-- Header -->
<header class="header">
  <Image 
    class="logo"
    src={chopperImage}
    alt="Chopper logo Sushi Culishi"
  />          
  <div class="sunburst"></div>
</header>

<div class="background fixed w-[800px] bottom-2  z-[-1]">
  <Image
    src={postersImage}
    alt="background"
    class='backgroundImage bg-no-repeat bg-cover bg-center w-full h-[100%] object-cover object-center'
  />
</div>

<main class="w-full h-full">
  
  <Entries />
  
  <Onigiri />
  
  <YakimeshiFood />

  <GridFood />

  <div class="w-[130%] ">
    <Image 
      class="w-[60%] h-[100px] relative right-[60%] z-20 overflow-x-auto"
      src={chopperImage}
      alt="Chopper logo Sushi Culishi"
    />   
  </div>
  
  <MakisFood />

</main>

        <!-- <Footer/> -->
        
    </div>
  </body>
</html>