---
import '../styles/style.css';
import '../styles/sectionsGrid.css';
import '../styles/text.css';
import Menu from '../components/menuContent.astro';

import { Image } from 'astro:assets';
import chopperImage from '../images/chopperLogoEdit.png';
import postersImage from '../images/postersAllBlue.jpg';


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>All Blue Sushi - Authentic Japanese Cuisine</title>
		
	</head>
	<body class="relative">
    <div class="menu-container relative">
        <!-- Header -->
      <header class="header">
        <Image 
          class="logo"
          src={chopperImage}
          alt="Chopper logo Sushi Culishi"
        />          
        <div class="sunburst"></div>
      </header>

      <!-- <div class="backgroundContainer ">
          <Image
          src={postersImage}
          alt="background"
          quality={85}
          format="webp"
          class='backgroundImage w-full h-full'
        />
      </div> -->

      <main class="w-full h-full">
        
        <Menu />

      </main>

        <!-- <Footer/> -->
        
    </div>
  </body>
</html>