---

---

<div class="section">
  <div class="extras-section">
    <div class="extras-box">
      <div class="extras-title">PAN DE ARROZ</div>
      <p><strong>(CALIENTE)</strong> VARIEDAD DE SABORES</p>
      <p>¡SERVIDO CALENTITO CON JARABE DE CHOCOLATE!</p>
      <div class="item-price">$40</div>
    </div>
  </div>
</div>
