---

---

<section class="w-full h-auto min-h-[100vh] p-2"> 
  <div class="parent w-full h-full min-h-[100vh] overflow-hidden border-2 border-black border-dashed center flex-col p-2 gap-2">
    <slot />
  </div>
</section>
